<ion-header>
  <ion-toolbar>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="about-section">
    <h2>Quiénes Somos</h2>
    <p>Somos una empresa que creamos senores admosfericos de calidad y sertificados
      ademas de que tenesmos un equipo de desaroll donde hacemos paginas web y aplicaciones moviles 
    </p>
    <img src="assets/img/img1.png" alt="Descripción de la imagen">
  </div>

  <div class="mission-section">
    <h2>Nuestra Misión</h2>
    <p>Nuestra misión es ser empresa lider en el mercado en la confiansa del cliente</p>
    <img src="assets/img/img2.png" alt="Descripción de la imagen">
  </div>

  <div class="contact-section">
    <h2>Contact</h2>
    <p>Phone Number: 8131015179</p>
    <p>Email: marco.ortegon&#64;joysonsafety.com </p>
  </div>
  

</ion-content>
