<ion-header>
  <ion-toolbar>
    <ion-title>My App</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/home">Home</ion-button>
      <ion-button routerLink="/about">About Us</ion-button>
      <ion-button routerLink="/shop">Shop</ion-button>
      <ion-button routerLink="/register">Register</ion-button>
      <ion-button routerLink="/login">Login</ion-button>
      <ion-button routerLink="/forum">Forum</ion-button>
      <ion-button routerLink="/comments">Comments</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
